.env
.venv
env/
venv/
ENV/
env.bak/

templatesExample/
templatesExample

secret_keys.py


dist
db.sqlite3

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
media/*

log/debug.log

cache/
cache

build
doc
home.rst
make.bat
Makefile