{% load social_tags cache %}


<div class="col-lg-4 col-md-4">
    <div class="sidebar__item">
        <div class="sidebar__about__item">
            <div class="sidebar__item__title">
                <h6>About me</h6>
            </div>
            {% get_about as about_item %}
            <img src="{{ about_item.images.first.image.url }}" alt="">
            <p>{{ about_item.mini_text|safe }}</p>
            <a href="{% url 'about' %}" class="primary-btn">Read more</a>
        </div>
        <div class="sidebar__follow__item">
            <div class="sidebar__item__title">
                <h6>Follow me</h6>
            </div>
            <div class="sidebar__item__follow__links">
                {% get_social_links as social_links %}
                {% for item in social_links %}
                <a href="{{ item.link }}"><img src="{{ item.icon.url }}"></a>
                {% endfor %}
            </div>
        </div>

        {% include 'include/sidebar_categories.html' %}

    </div>
</div>